<!doctype html>
<!--
 * @Date        : 2020-10-27 22:22:06
 * @Author      : shy
 * @Email       : yushuibo@ebupt.com / hengchen2005@gmail.com
 * @Version     : v1.0
 * @Description : 文件上传前端页面
-->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"  />
	<title>Spring Demo</title>
</head>
<body>
<!-- 注意: 文件上传表单的 enctype 为 multipart/form-data -->
<h1>A demo for file upload!</h1>
<hr/>
<form enctype="multipart/form-data" method="post" action="/fileupload">
	文件：<input type="file" name="files" />
	<input type="submit" value="上传" />
</form>
</body>
</html>
