<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.shy.demo.demomapper.TeacherMapper">
    <resultMap id="teachers" type="teacher">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <!-- 装配集合类型，使用collection标签，其中ofType指定集合中的类型，可以不写 -->
        <collection property="students" ofType="student" select="me.shy.demo.demoomain.Student.selectByTid" column="id"/>
    </resultMap>

    <select id="selectById" parameterType="int" resultMap="teacher">
        select * from teacher
        <where>
            id=#{0}
        </where>
    </select>

    <resultMap id="teachersUsingJion" type="teacher">
        <id column="tid" property="id"/>
        <result column="tname" property="name"/>
        <!-- 集合装配，使用多表联合查询方式，此时ofType必须写，但是由于一条语句就能查出，因此不用select属性 -->
        <collection property="students" ofType="student">
            <id column="sid" property="id"/>
            <result column="sname" property="name"/>
            <result column="sage" property="age"/>
            <result column="stid" property="tid"/>
        </collection>
    </resultMap>

    <select id="selectUsingJoin" resultMap="teachersUsingJion">
        select t.id tid, t.name tname, s.id sid, s.name sname, s.age sage, s.tid stid from teacher t left join student s
         on
        t.id =
        s.tid
    </select>

</mapper>