<configuration>
<appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
    <!-- <withJansi>true</withJansi> throw: java.lang.ClassNotFoundException: org.fusesource.jansi.WindowsAnsiOutputStream -->
    <encoder>
        <pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
    </encoder>
</appender>
<appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>../logs/flink-demo/rollingfile.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_ARCHIVE}/rollingfile.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
        <totalSizeCap>1MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <pattern>[%thread] %-5level %logger{15} - %msg %n</pattern>
    </encoder>
</appender>
<appender name="Async-Appender" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="RollingFile-Appender" />
</appender>
<root level='warn'>
    <appender-ref ref="Console-Appender" />
    <!-- <appender-ref ref="Async-Appender" /> -->
</root>
</configuration>
